{% extends "api/base.html" %}
{% block content %}
	<table class="table">
			<thead>
			<tr>
				<th>Numer zadania </th>
				<th>Numer studenta </th>
				<th>Lista zadan</th>
				<th>Suma pkt</th>
				<th>Zadanie</th>
			</tr>
			<tbody>
				{% for data in sended %}

					<tr>
						<td>{{data.taskid}}</td>
						<td>{{data.snumber}}</td>
						<td>{{data.point}}</td>
						<td>{{data.max_point}}</td>
						<td><a href="/{{data.task.name}}" class="btn btn-primary btn-sm">Otwórz plik</a></td>
					</tr>
				{% endfor %}
			</tbody>
			</thead>
		</table>
{% endblock %}
