{% extends "api/base.html" %}
{% block content %}
{% if user.is_staff %}
<table class="table">
	<thead>
	<tr>
		<th>Nazwa zadania | </th>
		<th>Zadanie | </th>
		<th>Grupa</th>
	</tr>
	<tbody>
		{% for data in sended %}
			<tr>
				<td>{{data.taskname}}</td>
				<td>{{data.group_id}}</td>
				<td><a href="/{{data.task.name}}" class="btn btn-primary btn-sm">Otwórz plik</a></td>
			</tr>
		{% endfor %}
	</tbody>
	</thead>
</table>

{% else %}

	<table class="table">
			<thead>
			<tr>
				<th>Nazwa zadania | </th>
				<th>Zadanie | </th>
				<th>Zadaj pytanie</th>
			</tr>
			<tbody>
				{% for data in sended %}
					{% if data.group_id.str_id == user.group_id %}
						<tr>
							<td>{{data.taskname}}</td>
							<td><a href="/{{data.task.name}}" class="btn btn-primary btn-sm">Otwórz plik</a></td>
							<td><a class="btn btn-outline-info" href="{% url 'ask_question' choose='xml' id=data.id %}">Zadaj pytanie prowadzącemu</a></td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			</thead>
		</table>
{% endif %}
{% endblock %}