{% extends "api/base.html" %}
{% load crispy_forms_tags  %}
{% block content %}
    <h1>Login: {{ user.username }}</h1>
    {% if user.is_staff %}
    {% elif user.is_authenticated  %}
        <h1>Numer Studenta: {{ user.snumber }}</h1>
        <h1>Grupa: {{ group.group }}</h1>
        <h1>Liczba punktów: {{ user.points }}</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">Zmień hasło</button>
    </form>
{% endblock content %}