{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sprawdzarka</title>
	<link rel="stylesheet" type="text/css" href='{% static "css\styles.css" %}'>
</head>
<body>
<div id="container">
	<div class="top">
		<img src="logo.jpg" id="logo">
	</div>
	<div class="login-panel">
		<button class="button">Logowanie</button>
		<button class="button">Oddawanie zadań</button>
		<button class="button">Forum</button>
		<a href="/task/upload/"><button class="button">Upload</button></a>
		<a href="/task/sendedList/"><button class="button">task sended</button></a>
		<a href="/task/taskListUpload/"><button class="button">UploadTask</button></a>
		<a href="/task/taskList/"><button class="button">List of taks</button></a>
	</div>
	<div class="main">
        <h2>upload tasks</h2>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" class="btn btn-primary">Upload task</button></form>
	</div>
	<div id="footer">

	</div>

</div>
</body>
</html>
